{% extends "base.html" %}

{% block content %}

{% if title %}
    <div class="container-fluid justify-text-center">
        <h3 >{{ title }}</h3>
    </div>

{% endif %}
<div class="container-fluid pt-3" >
<form method="POST" action='.' enctype="multipart/form-data" >
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2">
                <input type="submit" name="submit" value="Publish">
            </td>
        </tr>
    </table>
</form>
</div>

{% endblock %}